.counter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.button-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.button-section button {
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 7em;
}
.button-section button:hover {
  transform: translateY(-2px);
}
.increment-button {
  background-color: #4caf50;
  color: white;
}
.increment-button:hover {
  background-color: #45a049;
}
.decrement-button {
  background-color: #f44336;
  color: white;
}
.decrement-button:hover {
  background-color: #d32f2f;
}
.reset-button {
  background-color: #2196f3;
  color: white;
}
.half-button {
  background-color: rgb(193, 193, 4);
  color: white;
}



